.sent {
  background-color: #dcf8c6;
  text-align: right;
}

.received {
  background-color: #fff;
  text-align: left;
}

.message-bubble {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.message-info {
  font-size: 0.8em;
  color: gray;
}

ion-footer {
  --background: #fff;
  padding: 10px;
}

ion-textarea {
  width: calc(100% - 90px); /* Ajusta el ancho según sea necesario */
}

ion-button {
  margin-left: 10px;
}
